In [2]:
import pandas as pd

data = pd.read_csv('../datasets/2.-Urban-Environment/air-quality-nov-2017.csv')

data.head(3)

,Station,Air Quality,Longitude,Latitude,O3 Hour,O3 Quality,O3 Value,NO2 Hour,NO2 Quality,NO2 Value,PM10 Hour,PM10 Quality,PM10 Value,Generated,Date Time
0,Barcelona - Sants,Good,2.1331,41.3788,NaN,NaN,NaN,0h,Good,84.0,NaN,NaN,NaN,01/11/2018 0:00,1541027104
1,Barcelona - Eixample,Moderate,2.1538,41.3853,0h,Good,1.0,0h,Moderate,113.0,0h,Good,36.0,01/11/2018 0:00,1541027104
2,Barcelona - Gràcia,Good,2.1534,41.3987,0h,Good,10.0,0h,Good,73.0,NaN,NaN,NaN,01/11/2018 0:00,1541027104

In [3]:
data.describe()

,Longitude,Latitude,O3 Value,NO2 Value,PM10 Value,Date Time
count,5744.00000,5744.000000,4101.000000,5460.000000,3647.000000,5.744000e+03
mean,2.15240,13877.827714,34.082907,35.740293,16.590074,1.542323e+09
std,0.02859,74410.803168,22.960687,22.357262,8.065424,7.483961e+05
min,2.11510,41.378800,1.000000,1.000000,2.000000,1.541027e+09
25%,2.13080,41.386400,14.000000,17.000000,10.000000,1.541675e+09
50%,2.15070,41.398700,34.000000,33.000000,15.000000,1.542325e+09
75%,2.16220,41.418300,52.000000,52.000000,22.000000,1.542971e+09
max,2.20450,414261.000000,100.000000,117.000000,44.000000,1.543616e+09

In [ ]:
pm.groupby('Station')

In [4]:
df = pd.DataFrame(data)
df.head(3)

,Station,Air Quality,Longitude,Latitude,O3 Hour,O3 Quality,O3 Value,NO2 Hour,NO2 Quality,NO2 Value,PM10 Hour,PM10 Quality,PM10 Value,Generated,Date Time
0,Barcelona - Sants,Good,2.1331,41.3788,NaN,NaN,NaN,0h,Good,84.0,NaN,NaN,NaN,01/11/2018 0:00,1541027104
1,Barcelona - Eixample,Moderate,2.1538,41.3853,0h,Good,1.0,0h,Moderate,113.0,0h,Good,36.0,01/11/2018 0:00,1541027104
2,Barcelona - Gràcia,Good,2.1534,41.3987,0h,Good,10.0,0h,Good,73.0,NaN,NaN,NaN,01/11/2018 0:00,1541027104

In [5]:
df_no2 = df[['Station', 'Air Quality', 'Longitude', 'Latitude', 'NO2 Hour', 'NO2 Quality', 'NO2 Value', 'Generated', 'Date Time']].copy()

In [6]:
df_no2.tail(3)

,Station,Air Quality,Longitude,Latitude,NO2 Hour,NO2 Quality,NO2 Value,Generated,Date Time
5741,Barcelona - Palau Reial,Good,2.1151,41.3875,22h,Good,20.0,30/11/2018 23:00,1543615502
5742,Barcelona - Poblenou,Good,2.2045,41.4039,22h,Good,70.0,30/11/2018 23:00,1543615502
5743,Barcelona - Observ Fabra,Good,2.1239,41.4183,22h,Good,21.0,30/11/2018 23:00,1543615502

In [8]:
df_no2.head(3)

,Station,Air Quality,Longitude,Latitude,NO2 Hour,NO2 Quality,NO2 Value,Generated,Date Time
0,Barcelona - Sants,Good,2.1331,41.3788,0h,Good,84.0,01/11/2018 0:00,1541027104
1,Barcelona - Eixample,Moderate,2.1538,41.3853,0h,Moderate,113.0,01/11/2018 0:00,1541027104
2,Barcelona - Gràcia,Good,2.1534,41.3987,0h,Good,73.0,01/11/2018 0:00,1541027104

In [9]:
df_no2.columns = ['station', 'air_quality', 'longitude', 'latitude', 'no2_hour', 'no2_quality', 'no2_value', 'date', 'date_time']

In [10]:
df_no2.head(3)

,station,air_quality,longitude,latitude,no2_hour,no2_quality,no2_value,date,date_time
0,Barcelona - Sants,Good,2.1331,41.3788,0h,Good,84.0,01/11/2018 0:00,1541027104
1,Barcelona - Eixample,Moderate,2.1538,41.3853,0h,Moderate,113.0,01/11/2018 0:00,1541027104
2,Barcelona - Gràcia,Good,2.1534,41.3987,0h,Good,73.0,01/11/2018 0:00,1541027104

In [11]:
df_no2.groupby('no2_hour').no2_value.agg(['min', 'max', 'mean', 'median'])

          min    max       mean  median
no2_hour
0h        2.0  113.0  42.854890    42.0
10h       1.0  117.0  43.719665    45.0
11h       1.0  109.0  38.466667    35.0
12h       2.0   80.0  30.612335    26.0
13h       1.0   83.0  27.261411    22.0
14h       2.0   71.0  28.053398    23.5
15h       2.0   88.0  28.342723    23.0
16h       3.0   84.0  28.910714    24.5
17h       3.0   80.0  32.728111    29.0
18h       6.0   89.0  42.253219    40.0
19h       6.0  101.0  49.320000    49.0
1h        2.0   96.0  35.714286    35.0
20h       4.0  105.0  50.504505    52.0
21h       4.0   97.0  48.506726    50.0
22h       3.0   97.0  44.532967    45.5
23h       3.0   88.0  39.039735    38.0
2h        2.0   86.0  30.235808    26.0
3h        1.0   77.0  26.772926    23.0
4h        1.0   65.0  24.644444    21.0
5h        1.0   67.0  23.298701    19.0
6h        1.0   64.0  24.314894    21.0
7h        1.0   80.0  30.372294    27.0
8h        1.0  103.0  40.004237    42.0
9h        1.0  116.0  46.268908    49.0

In [12]:
mean_stations = df_no2.groupby('station').mean()

In [13]:
df_mean_stations = mean_stations.drop(columns = ['longitude','latitude', 'date_time'])
df_mean_stations.columns = ['no2_value_mean']
df_mean_stations

                          no2_value_mean
station
Barcelona - Ciutadella         39.855920
Barcelona - Eixample           56.240683
Barcelona - Gràcia             44.574534
Barcelona - Observ Fabra       11.449213
Barcelona - Palau Reial        27.974322
Barcelona - Poblenou           41.161103
Barcelona - Sants              36.359165
Barcelona - Vall Hebron        30.812940

In [14]:
median_stations = df_no2.groupby('station').median()

In [15]:
df_no2.groupby('station').no2_value.agg(['min', 'max', 'mean', 'median'])

                           min    max       mean  median
station
Barcelona - Ciutadella     5.0   88.0  39.855920    40.0
Barcelona - Eixample      17.0  113.0  56.240683    54.0
Barcelona - Gràcia         6.0  117.0  44.574534    42.0
Barcelona - Observ Fabra   1.0   71.0  11.449213     9.0
Barcelona - Palau Reial    1.0   99.0  27.974322    22.0
Barcelona - Poblenou       5.0  105.0  41.161103    41.0
Barcelona - Sants          7.0   89.0  36.359165    33.0
Barcelona - Vall Hebron    6.0   91.0  30.812940    26.0

In [16]:
df_no2.groupby(['station', 'no2_hour']).no2_value.agg(['min', 'max', 'mean', 'median'])

                                   min   max       mean  median
station                 no2_hour
Barcelona - Ciutadella  0h         5.0  86.0  48.157895    48.5
                        10h       21.0  81.0  53.100000    58.5
                        11h       16.0  86.0  45.048780    43.0
                        12h       12.0  70.0  36.458333    33.0
                        13h       11.0  65.0  31.153846    27.5
...                                ...   ...        ...     ...
Barcelona - Vall Hebron 5h         6.0  53.0  19.700000    12.0
                        6h         8.0  47.0  22.741935    20.0
                        7h         8.0  80.0  32.482759    27.0
                        8h         8.0  77.0  38.300000    37.5
                        9h         8.0  88.0  38.655172    33.0

[192 rows x 4 columns]

In [17]:
df_nov = df_no2[df_no2['date'].str.contains('\d{2}/11/2018')].groupby(['date'])
df_nov.head(10)

,station,air_quality,longitude,latitude,no2_hour,no2_quality,no2_value,date,date_time
0,Barcelona - Sants,Good,2.1331,41.3788,0h,Good,84.0,01/11/2018 0:00,1541027104
1,Barcelona - Eixample,Moderate,2.1538,41.3853,0h,Moderate,113.0,01/11/2018 0:00,1541027104
2,Barcelona - Gràcia,Good,2.1534,41.3987,0h,Good,73.0,01/11/2018 0:00,1541027104
3,Barcelona - Ciutadella,Good,2.1874,41.3864,0h,Good,86.0,01/11/2018 0:00,1541027104
4,Barcelona - Vall Hebron,Good,2.1480,41.4261,0h,Good,69.0,01/11/2018 0:00,1541027104
...,...,...,...,...,...,...,...,...,...
5739,Barcelona - Ciutadella,Good,2.1874,41.3864,22h,Good,57.0,30/11/2018 23:00,1543615502
5740,Barcelona - Vall Hebron,Good,2.1480,41.4261,22h,Good,31.0,30/11/2018 23:00,1543615502
5741,Barcelona - Palau Reial,Good,2.1151,41.3875,22h,Good,20.0,30/11/2018 23:00,1543615502
5742,Barcelona - Poblenou,Good,2.2045,41.4039,22h,Good,70.0,30/11/2018 23:00,1543615502
5743,Barcelona - Observ Fabra,Good,2.1239,41.4183,22h,Good,21.0,30/11/2018 23:00,1543615502

In [18]:
df_mon = df_no2[df_no2['date'].str.contains('04/11/2018|11/11/2018|18/11/2018|25/11/2018')].groupby(['date'])
df_mon.head(10) #make dates more neat

,station,air_quality,longitude,latitude,no2_hour,no2_quality,no2_value,date,date_time
576,Barcelona - Sants,Good,2.1331,41.3788,0h,Good,31.0,04/11/2018 0:00,1541286304
577,Barcelona - Eixample,Good,2.1538,41.3853,0h,Good,41.0,04/11/2018 0:00,1541286304
578,Barcelona - Gràcia,Good,2.1534,41.3987,0h,Good,58.0,04/11/2018 0:00,1541286304
579,Barcelona - Ciutadella,Good,2.1874,41.3864,0h,Good,48.0,04/11/2018 0:00,1541286304
580,Barcelona - Vall Hebron,Good,2.1480,41.4261,0h,Good,26.0,04/11/2018 0:00,1541286304
...,...,...,...,...,...,...,...,...,...
4779,Barcelona - Ciutadella,Good,2.1874,41.3864,22h,Good,51.0,25/11/2018 23:00,1543183501
4780,Barcelona - Vall Hebron,Good,2.1480,41.4261,22h,Good,46.0,25/11/2018 23:00,1543183501
4781,Barcelona - Palau Reial,Good,2.1151,41.3875,22h,Good,41.0,25/11/2018 23:00,1543183501
4782,Barcelona - Poblenou,Good,2.2045,41.4039,22h,Good,52.0,25/11/2018 23:00,1543183501
4783,Barcelona - Observ Fabra,Good,2.1239,41.4183,22h,Good,7.0,25/11/2018 23:00,1543183501

In [105]:
df_sun = df_no2[df_no2['date'].str.contains('04/11/2018|11/11/2018|18/11/2018|25/11/2018')]
df_sun.groupby('station').no2_value.agg(['min', 'max', 'mean', 'median'])

                           min   max       mean  median
station
Barcelona - Ciutadella     5.0  72.0  34.765957    35.0
Barcelona - Eixample      18.0  99.0  44.011494    42.0
Barcelona - Gràcia         6.0  83.0  30.602273    26.5
Barcelona - Observ Fabra   1.0  24.0   7.852632     7.0
Barcelona - Palau Reial    2.0  80.0  16.808511    12.5
Barcelona - Poblenou       6.0  86.0  30.648936    26.5
Barcelona - Sants          9.0  83.0  24.929412    22.0
Barcelona - Vall Hebron    7.0  82.0  17.670213    13.5

In [107]:
df_wed = df_no2[df_no2['date'].str.contains('07/11/2018|14/11/2018|21/11/2018|28/11/2018')]
df_wed.groupby('station').no2_value.agg(['min', 'max', 'mean', 'median'])

                           min    max       mean  median
station
Barcelona - Ciutadella    11.0   83.0  47.032609    45.5
Barcelona - Eixample      32.0  112.0  61.724138    60.0
Barcelona - Gràcia        16.0   97.0  49.351351    46.0
Barcelona - Observ Fabra   2.0   24.0  10.852632    10.0
Barcelona - Palau Reial    3.0   78.0  29.189474    23.0
Barcelona - Poblenou      12.0   88.0  47.351064    44.5
Barcelona - Sants          9.0   78.0  38.270588    37.0
Barcelona - Vall Hebron    9.0   80.0  30.817204    28.0

In [114]:
df_day = df_no2[df_no2['date'].str.contains(r'\b[6-9]:\d*|\b1\d:\d*')]
df_day

,station,air_quality,longitude,latitude,no2_hour,no2_quality,no2_value,date,date_time
48,Barcelona - Sants,--,2.1331,41.3788,4h,--,NaN,01/11/2018 6:00,1541048703
49,Barcelona - Eixample,Good,2.1538,41.3853,5h,Good,31.0,01/11/2018 6:00,1541048703
50,Barcelona - Gràcia,Good,2.1534,41.3987,5h,Good,19.0,01/11/2018 6:00,1541048703
51,Barcelona - Ciutadella,Good,2.1874,41.3864,5h,Good,18.0,01/11/2018 6:00,1541048703
52,Barcelona - Vall Hebron,Good,2.1480,41.4261,5h,Good,8.0,01/11/2018 6:00,1541048703
...,...,...,...,...,...,...,...,...,...
5707,Barcelona - Ciutadella,Good,2.1874,41.3864,18h,Good,58.0,30/11/2018 19:00,1543601102
5708,Barcelona - Vall Hebron,Good,2.1480,41.4261,18h,Good,40.0,30/11/2018 19:00,1543601102
5709,Barcelona - Palau Reial,Good,2.1151,41.3875,18h,Good,53.0,30/11/2018 19:00,1543601102
5710,Barcelona - Poblenou,Good,2.2045,41.4039,18h,Good,57.0,30/11/2018 19:00,1543601102
5711,Barcelona - Observ Fabra,Good,2.1239,41.4183,18h,Good,18.0,30/11/2018 19:00,1543601102

In [116]:
df_night = df_no2[df_no2['date'].str.contains(r'\b2\d:\d+|\b[1-5]:\d+')]
df_night

,station,air_quality,longitude,latitude,no2_hour,no2_quality,no2_value,date,date_time
8,Barcelona - Sants,Good,2.1331,41.3788,0h,Good,62.0,01/11/2018 1:00,1541030725
9,Barcelona - Eixample,Good,2.1538,41.3853,0h,Good,80.0,01/11/2018 1:00,1541030725
10,Barcelona - Gràcia,Good,2.1534,41.3987,0h,Good,59.0,01/11/2018 1:00,1541030725
11,Barcelona - Ciutadella,Good,2.1874,41.3864,0h,Good,78.0,01/11/2018 1:00,1541030725
12,Barcelona - Vall Hebron,Good,2.1480,41.4261,0h,Good,45.0,01/11/2018 1:00,1541030725
...,...,...,...,...,...,...,...,...,...
5739,Barcelona - Ciutadella,Good,2.1874,41.3864,22h,Good,57.0,30/11/2018 23:00,1543615502
5740,Barcelona - Vall Hebron,Good,2.1480,41.4261,22h,Good,31.0,30/11/2018 23:00,1543615502
5741,Barcelona - Palau Reial,Good,2.1151,41.3875,22h,Good,20.0,30/11/2018 23:00,1543615502
5742,Barcelona - Poblenou,Good,2.2045,41.4039,22h,Good,70.0,30/11/2018 23:00,1543615502
5743,Barcelona - Observ Fabra,Good,2.1239,41.4183,22h,Good,21.0,30/11/2018 23:00,1543615502

In [118]:
df_no2.value_counts('date')

date
02/11/2018 12:00    16
15/11/2018 12:00    16
15/11/2018 14:00    16
15/11/2018 18:00    16
30/11/2018 9:00      8
                    ..
20/11/2018 9:00      8
20/11/2018 8:00      8
20/11/2018 7:00      8
20/11/2018 6:00      8
01/11/2018 0:00      8
Length: 714, dtype: int64

In [119]:
df_day.groupby('station').no2_value.agg(['min', 'max', 'mean', 'median'])

                           min    max       mean  median
station
Barcelona - Ciutadella     6.0   86.0  37.738499    37.0
Barcelona - Eixample      17.0  112.0  54.380697    52.0
Barcelona - Gràcia         6.0  117.0  42.311518    39.5
Barcelona - Observ Fabra   1.0   71.0  11.014528     9.0
Barcelona - Palau Reial    1.0   99.0  25.985437    20.0
Barcelona - Poblenou       6.0   89.0  37.615764    38.0
Barcelona - Sants          7.0   79.0  32.120301    28.0
Barcelona - Vall Hebron    6.0   88.0  28.062201    24.0

In [120]:
df_night.groupby('station').no2_value.agg(['min', 'max', 'mean', 'median'])

                           min    max       mean  median
station
Barcelona - Ciutadella     5.0   88.0  42.428571    44.0
Barcelona - Eixample      17.0  104.0  58.583673    58.0
Barcelona - Gràcia         8.0  103.0  47.329167    45.5
Barcelona - Observ Fabra   1.0   62.0  12.333333     9.5
Barcelona - Palau Reial    2.0   80.0  30.384615    25.0
Barcelona - Poblenou       6.0  105.0  45.850980    44.0
Barcelona - Sants          8.0   89.0  41.995918    40.0
Barcelona - Vall Hebron    6.0   91.0  34.155303    30.0

In [23]:
df_no2.loc[df_no2['no2_value'].idxmax()]

station        Barcelona - Gràcia
air_quality              Moderate
longitude                  2.1534
latitude                  41.3987
no2_hour                      10h
no2_quality              Moderate
no2_value                     117
date             22/11/2018 11:00
date_time              1542881102
Name: 4106, dtype: object

In [79]:
df_no2.nlargest(columns='no2_value', n = 5)

,station,air_quality,longitude,latitude,no2_hour,no2_quality,no2_value,date,date_time
4106,Barcelona - Gràcia,Moderate,2.1534,41.3987,10h,Moderate,117.0,22/11/2018 11:00,1542881102
5442,Barcelona - Gràcia,Moderate,2.1534,41.3987,9h,Moderate,116.0,29/11/2018 10:00,1543482302
4098,Barcelona - Gràcia,Moderate,2.1534,41.3987,9h,Moderate,115.0,22/11/2018 10:00,1542877501
1,Barcelona - Eixample,Moderate,2.1538,41.3853,0h,Moderate,113.0,01/11/2018 0:00,1541027104
1225,Barcelona - Eixample,Moderate,2.1538,41.3853,9h,Moderate,112.0,07/11/2018 10:00,1541581503

In [88]:
df_no2.sort_values('no2_value', ascending=False)

,station,air_quality,longitude,latitude,no2_hour,no2_quality,no2_value,date,date_time
4106,Barcelona - Gràcia,Moderate,2.1534,41.3987,10h,Moderate,117.0,22/11/2018 11:00,1542881102
5442,Barcelona - Gràcia,Moderate,2.1534,41.3987,9h,Moderate,116.0,29/11/2018 10:00,1543482302
4098,Barcelona - Gràcia,Moderate,2.1534,41.3987,9h,Moderate,115.0,22/11/2018 10:00,1542877501
1,Barcelona - Eixample,Moderate,2.1538,41.3853,0h,Moderate,113.0,01/11/2018 0:00,1541027104
1225,Barcelona - Eixample,Moderate,2.1538,41.3853,9h,Moderate,112.0,07/11/2018 10:00,1541581503
...,...,...,...,...,...,...,...,...,...
5503,Barcelona - Observ Fabra,Good,2.1239,41.4183,14h,--,NaN,29/11/2018 17:00,1543507502
5511,Barcelona - Observ Fabra,Good,2.1239,41.4183,15h,--,NaN,29/11/2018 18:00,1543511102
5553,Barcelona - Eixample,Moderate,2.1538,41.3853,NaN,NaN,NaN,30/11/2018 0:00,1543532702
5729,Barcelona - Eixample,Moderate,2.1538,41.3853,19h,--,NaN,30/11/2018 22:00,1543611902
5737,Barcelona - Eixample,Moderate,2.1538,41.3853,20h,--,NaN,30/11/2018 23:00,1543615502